
.main-view {
  font-family: 'Fira Sans', sans-serif;
  background: #5c1818;
  width: 100%;
  display: inline-block;
}

.navColor{
  background: #000;
  margin-left: 0;
  margin-right: 0;
}

.brand-name {
  font-size: 30px;
  font-weight: bold;
  color: #5c1818;
}