
*{
  box-sizing: border-box;
}
.registerContainer{
  background: #5c1818;
  width: 100%;
  height: 100vh;
}

.bg-navColor{
  background: #000;
}


.registerCard {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background:white;
  color: black;
}

.registerButton {
  width: 100%;
  display: block;
}