
*{
  box-sizing: border-box;
}
.loginContainer{
  background: #5c1818;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

.bg-navColor{
  background: #000;
}

.loginCard {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background:white;
  color: black;
}

.loginButton {
  width: 100%;
  display: block;
}

.registerButton {
  width: 100%;
  display: block;
  margin-top: 20px;
}